aws_region                   = ""
aws_profile                  = ""
environment                  = ""

s3_bucket_name_pipeline             = ""
kms_key_name                        = ""
codedeploy_name                     = ""
codepipeline_name                   = ""
codebuild_name                      = ""
build_project_source                = ""
builder_compute_type                = ""
builder_image                       = ""
builder_type                        = ""
codecommit_repo_name                = ""
codecommit_repo_branch              = ""
pipeline_stage_build_name           = ""
pipeline_stage_deploy_name          = "" 
artifact_identifier                 = "" 
execution_mode                      = ""
version_pipeline                    = ""

created_by         = ""
application        = ""
cost_center        = ""
contact            = ""
maintenance_window = ""
deletion_date      = ""